/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

*[class*="_text"] {
	font-family: "Roboto";
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
}